.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.cabecalho img {
  width: 80%;
}

.senha-atual{
  background-color: blue;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6em;
}